a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&family=Kanit:wght@200;400&family=Rubik&display=swap");
