.signup {
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  margin: 3vh 0;
  color: white;
  display: flex;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
  background-color: #1f2123;
}

.route-login {
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  color: white;
}
.route-to-login {
  text-decoration: underline;
}
.route-to-login:hover {
  color: #1a74e2;
}
.signup-name {
  text-indent: 1.5vw;
  font-family: "Kanit", sans-serif;
  width: 75%;
  height: 8vh;
  border: 0;
  background-color: #1f2123;
  font-size: 24px;
  border-top: 1px solid white;
  margin-top: 5vh;
  color: white;
}
.signup-name:focus {
  outline: none;
}
.signup-input {
  text-indent: 1.5vw;
  font-family: "Kanit", sans-serif;
  width: 75%;
  height: 8vh;
  border: 0;
  background-color: #1f2123;
  font-size: 24px;
  border-top: 1px solid white;
  /* margin-top: 5vh; */
  color: white;
}
.signup-input:focus {
  outline: none;
}
.signup-password {
  text-indent: 1.5vw;
  font-family: "Kanit", sans-serif;
  width: 75%;
  height: 8vh;
  border: 0;
  background-color: #1f2123;
  font-size: 24px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  /* margin-top: 5vh; */
  color: white;
}
.signup-password:focus {
  outline: none;
}
.signup-input::placeholder,
.signup-password::placeholder,
.signup-name::placeholder {
  color: white;
}
.signup-form button {
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  background-color: #1a74e2;
  padding: 1vh 1.5vw;
  margin: 5vh;
  color: white;
}

.signup-form button:hover {
  cursor: pointer;
  background-color: #3fa0ef;
}

@media only screen and (max-width: 768px) {
  .signup-form {
    width: 70vw;
  }
}
@media only screen and (max-width: 540px) {
  .signup-form {
    width: 70vw;
  }
  .signup-name {
    font-size: 18px;
  }
  .signup-input {
    font-size: 18px;
  }
  .signup-password {
    font-size: 18px;
  }
  .route-login {
    font-size: 14px;
  }
  .signup-form button {
    font-size: 14px;
  }
}
@media only screen and (max-width: 540px) {
  .signup-form {
    width: 80vw;
  }
}
