.players-screen-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.players-screen-header {
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  margin: 3vh 0;
}

.player-header {
  font-family: "Crimson Text", serif;
  font-size: 18px;
  display: inline-flex;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
  background-color: #3fa0ef;
  height: 3vh;
}
.player-header div {
  margin: 0 5vw;
}

.players-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79.9vw;
  flex-direction: column;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-bottom: 10vh;
}

.even-player {
  display: inline-flex;
  width: 75vw;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
  font-family: "Kanit", sans-serif;
  background-color: #1f2123;
}

.odd-player {
  display: inline-flex;
  width: 75vw;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
  font-family: "Kanit", sans-serif;
  background-color: #787878;
}

.player-image {
  width: 12vw;
  height: 10vw;
  margin: 2vh 0;
  margin-left: 2vw;
}
.player-name,
.player-team,
.player-moments {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  margin-left: 10vw;
}

.player-moments {
  margin-left: 7vw;
  margin-right: 3vw;
}

@media only screen and (max-width: 768px) {
  .even-player {
    font-size: 20px;
  }

  .odd-player {
    font-size: 20px;
  }
}

@media only screen and (max-width: 540px) {
  .player-header {
    font-size: 13px;
  }
  .even-player {
    font-size: 15px;
  }

  .odd-player {
    font-size: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .player-header {
    font-size: 12px;
  }
  .even-player {
    font-size: 12px;
  }

  .odd-player {
    font-size: 12px;
  }
}
